*{
    margin: 0;
    padding: 0;
  }
.chapter {
    margin: 1em .1em;
    padding: 0.7em .3em;
    background-color: rgba(49, 58, 89, 0.839);
    /* box-shadow: 3px 8px 39px -5px rgba(74,74,74,0.78); */
    border-radius: 10px;
    width: auto;
}
.topic-div {
    color: #000000;
    display: flex;
    justify-content: space-between;
}
.topic_header {
    font-size: 16px;
}
.result {
    display: flex;
    margin: auto;
    margin-right: 20px;
    color: rgb(117, 128, 117);
}
.qula, .cda {
    color: white;
    font-size: 8px;
}
button{
    background-color: rgb(56, 102, 227);
    border: none;
    color: white;
    border-radius: 3px;
    padding: .1em;
    margin: .1em;
    cursor: pointer;
}
.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}
.dictionary{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}
.t_words {
   background-color: rgb(148, 151, 148);
   width: 80%;
   /* height: 1em; */
}
.b_words {
   background-color: rgb(94, 95, 94);
   width: 20%;
   display: flex;
   /* flex-direction: column; */
   align-items: center;
   /* height: 1em; */
}
.card{
    border-radius: .3em;
    width: fit-content;
    padding: .3em;
    margin: 5px;
    cursor: pointer;
}
.right_card {
    background-color: grey;
    color: rgb(16, 16, 16);
    width: fit-content;
    font-size: 0.7em;
}
.clicked_right {
    background-color: #000000;
    color: white;
}
.left_card {
    background-color: rgb(126, 126, 65);
}
.clicked_left {
    background-color: #414340;
    color: rgb(255, 255, 255);
}
.end_game {
    display: flex;
}
.won_words {
    width: 80%;
    background-color: #414340;
}
.won_word {
    width: 3em;
    min-width: fit-content;
    margin: .3em;
    background-color: rgb(90, 90, 94);
}
.expl {
    background-color: rgb(144, 145, 145);
}
.words_and_marks {
    display: flex;
}
.words_wout_marks {
    display: flex;
    flex-wrap: wrap;
}
.word_wout_mark {
    margin: .3em;
    background-color: green;
    cursor: pointer;
}
.clicked_word {
    background-color: aqua;
}
.mark {
    background-color: #767975;
    padding: .3em;
    margin: .1em;
    cursor: pointer;
}
.clicked_mark {
    background-color: aquamarine;
}
.span_element{
    /* background-color: rgb(8, 0, 255); */
    margin-top: 10px;
    width: 10px;
    height: 10px;
    color: rgb(0, 4, 255);
}