/* *{
    margin: 0;
    padding: 0;
  } */
.chapter {
    margin: 1em .1em;
    padding: 0.7em .3em;
    background-color: rgba(52, 70, 136, 0.839);
    /* box-shadow: 3px 8px 39px -5px rgba(74,74,74,0.78); */
    border-radius: 10px;
    width: auto;
}
.topic-div {
    color: #8f8f8f;
    display: flex;
    justify-content: space-between;
}
.topic_header {
    font-size: 16px;
}
.result {
    display: flex;
    margin: auto;
    margin-right: 20px;
    color: rgb(117, 128, 117);
}
.qula, .cda {
    color: white;
    font-size: 8px;
}
.flex {
    display: flex;
}
button{
    background-color: rgb(126, 133, 153);
    border: none;
    color: rgb(26, 26, 128);
    border-radius: 3px;
    padding: .7em;
    margin: .3em;
    cursor: pointer;
}
.clicked_button {
    background-color: rgba(88, 30, 30, 0.475);
}
/* .dict_button */
.opened_game {
    background-color: #91764a;
}
.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}
/* ///////////////////////////////ლექსიკონი/////////////////////////////////////// */
.dictionary{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}
.t_words {
   background-color: rgb(66, 67, 66);
   width: 67%;
   /* height: 1em; */
}
.b_words {
   background-color: rgb(94, 95, 94);
   width: 33%;
   display: flex;
   /* flex-direction: column; */
   align-items: center;
   /* height: 1em; */
}
.card{
    border-radius: .3em;
    width: fit-content;
    padding: .3em;
    margin: 5px;
    cursor: pointer;
}
.right_card {
    background-color: rgb(4, 127, 4);
    color: rgb(16, 16, 16);
    width: fit-content;
    font-size: 0.7em;
}
.right_invisible {
    color: rgb(4, 127, 4);
}
.right_visible {
    color: black;
}
.clicked_right {
    background-color: #000000;
    color: white;
}
.left_card {
    background-color: rgb(150, 121, 47);
}
.left_invisible {
    color: rgb(150, 121, 47);
}
.left_visible {
    color: rgb(116, 0, 0);
}
.clicked_left {
    background-color: #414340;
    color: rgb(255, 255, 255);
}
.end_game {
    display: flex;
}
.won_words {
    width: 80%;
    background-color: #414340;
}
.won_word {
    width: 3em;
    min-width: fit-content;
    margin: .3em;
    background-color: rgb(90, 90, 94);
}
.expl {
    background-color: rgb(144, 145, 145);
}



/* ////////////////////////////////WordsAndMarks//////////////////////////////////////////////////////// */
.words_and_marks {
    display: flex;
}
.words_wout_marks {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 1em;
}
.word_wout_mark {
    background-color: green;
    padding: .7em;
    margin: .3em;
    border-radius: .3em;
    cursor: pointer;
}
.clicked_word {
    background-color: rgb(88, 25, 25);
}
.marks {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}
.mark {
    background-color: #767975;
    padding: .3em;
    margin: .1em;
    cursor: pointer;
}
.mark_among_words {
    background-color: blue;
    padding: 0 .5em .5em .5em;
    border-radius: .3em;
    margin: auto 0;
}
.clicked_mark {
    background-color: aquamarine;
}
.span_element{
    /* background-color: rgb(8, 0, 255); */
    margin-top: 10px;
    width: 10px;
    height: 10px;
    color: rgb(0, 4, 255);
}



/* ///////დაშლილი წინადადებები////////////////////////////////////// */
.words_and_sentences {
    background-color: grey;
}
.sentences {
    background-color: rgb(150, 156, 161);
}
.full_sentence {
    background-color: #82874d;
    padding: .3em;
    margin: .3em;
    border-radius: .3em;
    cursor: pointer;
}
.clicked_Sentence {
    background-color: #91764a;
}
.words_on_cards {
    background-color: rgb(90, 62, 22);
    display: flex;
    flex-wrap: wrap;
}
.word_card {
    background-color: green;
    padding: .7em;
    margin: .5em;
    border-radius: .3em;
    cursor: pointer;
}