body{
  /* background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(232,254,249,1) 51%, rgba(235,235,235,1) 100%); */
  background-color: rgb(139, 136, 136);
}
.App {
  /* background-color: rgb(62, 77, 63); */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
